---
- name: Distribution | Validate if the distribution is supported
  ansible.builtin.fail:
    msg: |
      {{ ansible_facts['distribution'] }} does not support installation from distribution packages yet.
  when: ara_distribution_packages | length == 0

- name: Distribution | Install ara from distribution packages
  become: true
  ansible.builtin.package:
    name: "{{ ara_distribution_packages }}"
    state: present

# TODO: consider putting the name of the package into a variable if distributions
# other than fedora become supported.
- name: Distribution | Install python-passlib for managing authentication credentials
  become: true
  ansible.builtin.package:
    name: python3-passlib
    state: present
  when: ara_api_external_auth

# This lets us use "path_with_virtualenv" without conditions everywhere
- name: Distribution | Don't prefix the virtualenv bin directory to PATH
  ansible.builtin.set_fact:
    path_with_virtualenv: "{{ ansible_facts['env']['PATH'] }}"
