---
- name: Include OS family/distribution specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['distribution'] }}.yaml"
    - "{{ ansible_facts['os_family'] }}.yaml"

- name: Ensure pre-requirements for running are met
  include_tasks: pre-requirements.yaml

- name: Include installation of ARA
  include_tasks: "install/{{ ara_api_install_method }}.yaml"

- name: Include configuration of the ARA API
  include_tasks: config.yaml

- name: Include configuration of the database engine
  include_tasks: "database_engine/{{ ara_api_database_engine }}.yaml"

- name: Include installation of the WSGI backend server
  include_tasks: "wsgi_server/{{ ara_api_wsgi_server }}.yaml"
  when: ara_api_wsgi_server is not none

- name: Include installation of the frontend server
  include_role:
    name: "ara_frontend_{{ ara_api_frontend_server }}"
  when: ara_api_frontend_server is not none
