---
- name: gunicorn | Install gunicorn
  ansible.builtin.pip:
    name: gunicorn
    state: present
    virtualenv: "{{ ara_api_venv | bool | ternary(ara_api_venv_path, omit) }}"
    virtualenv_command: /usr/bin/python3 -m venv

- name: gunicorn | Get path to gunicorn
  command: which gunicorn
  changed_when: false
  register: _gunicorn_cmd
  environment:
    PATH: "{{ path_with_virtualenv }}"

- name: gunicorn | Set path to gunicorn
  ansible.builtin.set_fact:
    _gunicorn_path: "{{ _gunicorn_cmd.stdout }}"

- name: Transfer
  when: ansible_facts['os_family'] == "RedHat"
  block:
    - name: gunicorn | Transfer gunicorn selinux type enforcement file
      ansible.builtin.copy:
        src: ara-gunicorn.te
        dest: "{{ ara_api_root_dir }}/ara-gunicorn.te"
        mode: 0444

    # TODO: Only compile a new module and policy package when necessary
    - name: gunicorn | Compile ara-gunicorn selinux module
      command: "checkmodule -M -m -o {{ ara_api_root_dir }}/ara-gunicorn.mod {{ ara_api_root_dir }}/ara-gunicorn.te"

    - name: gunicorn | Compile ara-gunicorn selinux policy package
      command: "semodule_package -o {{ ara_api_root_dir }}/ara-gunicorn.pp -m {{ ara_api_root_dir }}/ara-gunicorn.mod"

- name: Install selinux module
  block:
    # TODO: Only install the selinux module if it has changed
    - name: gunicorn | Install selinux policy package
      command: "semodule -i {{ ara_api_root_dir }}/ara-gunicorn.pp"
      when: ansible_facts['os_family'] == "RedHat"

    - name: gunicorn | Set up systemd unit file for gunicorn to run the ARA API
      ansible.builtin.template:
        src: ara-api.service.j2
        dest: /etc/systemd/system/ara-api.service
        owner: root
        group: root
        mode: 0644
      notify:
        - Restart ara-api

    - name: gunicorn | Enable and start ara-api with gunicorn
      ansible.builtin.service:
        name: ara-api
        state: started
        enabled: true
        daemon_reload: true
      register: ara_api_service_enabled
  become: true
